html, body {
    margin: 0;
    padding: 0;

    font-family: Arial;
}
h3{
    font-size: 30px;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 28px 20px;
}
h2{
    font-size: 20px;
    padding: 27px 0 27px 18px;
    margin-bottom: 34px;
    border-bottom: 1px solid #e5e5e5;
}

li a {
    color: black;
    text-decoration: none;
}

#black-bar {
    background-color: #00122f;
    color: white;
    padding: 20px 0;
    font-size: 16px;
}

#black-bar a, #main-news-link a, #spec-news-link a{
    color: white;
}

.fixed-container {
    position: relative;
    width: 960px;
    margin: 0 auto;
}

#datetime {
    float: right;
}

#logo {
    position: absolute;
    top: 40px;
}

#header {
    height: 100px;
}

#menu-container {
    height: 70px;
}
#menu-container ul{
    list-style-type: none;
    padding-left: 0;
}
#menu-container li{
    display: inline-block;
}

#city {
    color: #448ccb;
    position: absolute;
    top: 55px;
    left: 180px;
    text-decoration: underline dashed #448ccb;
}

#city img, #wheather img {
    vertical-align: middle;
}

#wheather {
    position: absolute;
    right: 370px;
    top: 50px;
}
#search {
    position: absolute;
    top: 40px;
    right: 0;

}
input[type="search"]{
    vertical-align: middle;
    width: 320px;
    height: 45px;
    border: none;
    border-radius: 15px;
    background-color: #ebebeb;
    padding: 18px;
    background-image: url("img/loop.png");
    background-repeat: no-repeat;
    background-position: 280px
}
#column-left{
    background-color: #ffffff;
    width: 250px;
    float: left;
}
    .news-item{
        padding-left: 18px;
        margin-bottom: 27px;
    }
    .news-item-text{
       margin-bottom: 20px;
        font-size: 14px;
    }
    .news-item-props{
        font-size: 12px;
        position: relative;
    }
    .news-item-props a{
        color: #91919f;
    }
    .news-time{
        position: absolute;
        top: 0;
        left: 180px;
        background-image: url("img/icon-time.png");
        background-repeat: no-repeat;
        padding-left: 15px;
    }
    .news-comments-count{
    position: absolute;
    top: 0;
    left: 120px;
        background-image: url("img/icon-comments.png");
        background-repeat: no-repeat;
        padding-left: 15px;
}
#column-center{
    width: 420px;
    margin-left: 20px;
    float: left;
}
#main-news{
    background-image: url("img/bg-main-news.png");

    color: white;
}
    #main-news-data, #spec-news-data{
        position: relative;
        padding-bottom: 20px;
    }
    #main-news-link{
        padding-top: 115px;
        padding-left: 20px;
        padding-bottom: 25px;
        font-size: 12px;
    }
    .main-news-date{

        padding-left: 20px;
        font-size: 12px;
    }
    .main-news-time{
        font-size: 12px;
        position: absolute;
        top: 0;
        left: 115px;
        background-image: url("img/main-clock-big.png");
        background-repeat: no-repeat;
        padding-left: 15px;
    }

    .left-preview{
        width: 200px;
        float: left;
        position: relative;
    }
    .right-preview{
        width: 200px;
        float: right;
        position: relative;
    }
    .left-preview img, .right-preview img{
        padding-top: 20px;
    }
    .preview-item-text{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 18px;
    }
    .preview-item-props{
        font-size: 12px;
        position: absolute;
        top: 240px;
    }
    .preview-item-props a{
        color: #91919f;
    }
    .preview-time{
        background-image: url("img/preview-time.png");
        background-repeat: no-repeat;
        padding-left: 15px;
        position: absolute;
        left: 70px;
        top: 0;
    }
    .preview-comments-count{
        background-image: url("img/comment-preview.png");
        background-repeat: no-repeat;
        padding-left: 15px;
        position: absolute;
        left: 135px;
        top: 0;
    }


#column-right{
    width: 250px;
    float: right;
}
#column-right img{
    margin-bottom: 20px;
}

#central-container{
    background-color: #f9f9f9;
    padding-top: 20px;
    background-image: url("img/central-bg-top.png");
    background-repeat: repeat-x;
}
#central-container .fixed-container{
    overflow: hidden;
}
.preview-news{
    overflow: hidden;
    height: 300px;
}

#special-news{
    margin-top: 20px;
    margin-bottom: 50px;
}

#spec-news{
    float: left;
    width: 588px;
    height: 393px;
    background-image: url("img/special-news-img.png");
    color: white;
}
    #spec-news-link{
        padding-top: 110px;
        padding-left: 20px;
        padding-bottom: 30px;
        font-size: 12px;
    }
    .spec-news-desc{
        font-size: 14px;
        padding-left: 20px;
        padding-top: 30px;
    }

#most-viewed{
    width: 372px;
    height: 393px;
    background-color: white;
    float: left;
}

#most-viewed .news-item-text{
    padding-right: 30px;
}
#footer {
    background-color: #00122f;
    font-size: 16px;
    color: white;
    height: 310px;
    margin-top: 60px;
    position: relative;
}
.footer-menu{
    padding-top: 55px;
    float: left;
}
.footer-menu ul{
    padding-left: 0;
    padding-right: 60px;
    margin-top: 0;
}
.footer-menu li{
    list-style-type: none;
    margin-bottom: 20px;

}
.footer-menu li a{
    color: white;
    font-size: 16px;

}
#about{
    padding-top: 55px;
    padding-left: 90px;
}
#footer-logo{
    padding-top: 5px;
    margin-bottom: 23px;
}
#contacts{
    padding-left: 90px;
}
#contacts img{
    padding-right: 10px;
}

#phone{
    margin-top: 40px;
    padding-bottom: 30px;
    padding-left: 25px;
    background-image: url("img/phone-icon.png");
    background-repeat: no-repeat;
}
#mail{
    padding-left: 25px;
    background-image: url("img/mail-icon.png");
    background-repeat: no-repeat;
}
hr{
    color:#ffffff;
    opacity: 15%;
    width: 100%;
    position: absolute;
    top: 260px;
}
#copy{
    position: absolute;
    top: 280px;
    left: 540px;
}
#popup-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("img/bg-opacity.png");
    z-index: 10;
    display: none;
}

#popup{
    width: 0;

    height: 0;
    background-color: white;
    padding: 20px;
    margin: 40px auto;

}


